@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 4rem 0;
        /* delete this line to remove dark theme */
    background-color: rgb(30, 30, 30);

    color: white;

}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    /* height: 4rem; */
    background-color: #F55A5A;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 0;
    position: fixed;
    width: 100%;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.imageoflocation img{
     
    width: 12rem;
    height: 16rem;
    object-fit: cover;
    border: none;
    border-radius: 6px;
    
}
.imagedata{
    
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    margin-top: 3rem;
    padding: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.358);
    border: none;
    border-radius: 20px;
        /* delete this line to remove dark theme */

    background-color: rgb(60, 60, 60);
    /* align-items: center; */
}
.flex{
    display: flex;
}
.inline{
    display:inline;
}
.greylink{
    color: rgb(186, 186, 186);
}
.location-country{
    margin-right: 0.7rem;
    color: #F55A5A;
}
.imagedata h2{
    font-size:2rem ;
    margin: 0.5rem 0 1.5rem 0;
}
.location-info{
    margin: 1rem 0;
}