.topbarcontainer {
  color: white;
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 800;
}
.topbarleft {
  flex: 1;
}
.topbarcenter {
  flex: 1;
}
.topbarright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
.topbarright a {
  text-decoration: none;
  list-style: none;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}

.topbarright li {
  list-style: none;
}
.topbarright a::after {
  content: "";
  width: 0;
  background: var(--colortheme);
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  transition: 0.3s;
}
.topbarright a:hover::after {
  width: 100%;
}
.topbarright .accout img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}

.loginbutton button {
  padding: 0.5rem;
  background-color: var(--colortheme);
  color: white;
  border-radius: 10px;
  width: 5rem;
  border: none;
}
.accout {
  display: flex;
  align-items: center;
}
