@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    
}
body{
    background-color: grey;
    background: radial-gradient(rgb(86, 86, 86) ,rgb(40, 39, 39));
    /* background-size:; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 14rem;
    margin-bottom: 14rem;

    
}
.decorate{
    background-color: black;
    padding: 2rem;
    border: solid;
    border-radius: 50px;
}
h1{
    font-size: 3.4rem;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}
h2{
font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    color:white;
}
.buttons{
    margin-top: 3rem;
    text-align: center;
    /* width: 30rem; */
}
button{
    width: 8rem;
    height: 3rem;
    margin: 0 1rem;
    background-color: rgb(54, 54, 54);
    border:solid 0px;
    border-radius: 20px;
    cursor: pointer;

    
    color: white;
    font-weight: bold;
    letter-spacing: 1px;

}
button:hover{
   
    background-color: blue;
    background:linear-gradient(to right, blue 30%, purple );
    
    color: white;

}
