*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
     margin: 15px;
     min-width:400px ;
}
input{
width: 100%;
display: block;
margin-bottom:10px;
height: 50px;
border: solid 2px rgb(60, 144, 60) ;
border-radius: 5px;
font-size: 20px;
padding-left: 10px;
padding-right: 10px;
}
button{
    background-color: rgb(76, 189, 76);
    color: white;
    width: 120px;
    height: 40px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

}
ul{
    /* margin-left: 40px; */
    margin-top: 20px;
}
li{
    margin-top:4px;
    list-style: none;
}
a{
    padding-left: 1rem;
    color: rgb(76, 189, 76);
    text-decoration: none;
}
#delete-btn{
    background-color: white;
    color: rgb(76, 189, 76);
    border:solid 0.1rem rgb(76, 189, 76);;
}