.heropage {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.764), rgba(0, 0, 0, 0.195)),
    url(https://images.unsplash.com/photo-1536667842290-7602f6a43a2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-position: left;
}
