@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

::placeholder{
    color: rgba(255, 255, 255, 0.768);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}
/* header{
    height: 100px;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    position: sticky;
   
    top: 0;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.nav-list{
    display: flex;
    width: 50%;
    
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 10px 20px;
    align-self: center;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    
   


}
.nav-list a{
    text-decoration: none;
    color: white;
}
.nav-list a:hover{
    /* text-decoration: none; */
    color: rgba(255, 255, 255, 0.688);
}


.nav-list .logo img{
   width: 40px;
   margin-left: 2rem;
}
.rightnav{
    width: 50%;
    /* text-align: right; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
    /* background-color: black; */
}
.rightnav input, .rightnav button{
    height: 50%;
    margin-right: 30px;
    background-color: transparent;
    border:solid 2px white;

}
.rightnav input{
    width: 40%;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 16px;

}
input:focus::placeholder {
    color: transparent;
  }
.rightnav .btn{
    width: 15%;
    background-color:#73c8a9;
    border:solid 2px #73c8a9;
    font-size: large;
    border-radius: 6px;

/* font-weight: bold; */
}
.rightnav .btn:hover{
    width: 15%;
    background-color:#9ad5bf;
    border:solid 2px #73c8a9;

}

.background{
    background: #73c8a9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #73c8a9, #373b44); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #73c8a9, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.firsthalf{
    width: 50%;
    padding: 9rem 5rem ;
}
.secondhalf{
    display: flex;
    justify-content: center;
    width: 50%;
}
.firsthalf h2{
    padding-bottom: 1rem;
    font-size: 4rem;
}
.firsthalf .buttons{
    padding-top: 1rem;
}
.buttons .btn{
    /* padding: 1rem  ; */
    width: 9em;
    height: 3em;
    margin-right: 2rem;
    background-color: white;
    border-radius: 10px;
    border-color: #73c8a9;
   font-size: 1rem;
   color: black;
}
.buttons .btn:hover{
    background-color: rgba(255, 255, 255, 0.333);
}
.secondhalf img{
    
    width: 200px;
}




.infosection{
    width: 80%;
    /* display: flex; */
    margin: 5rem auto;

}
.infosection h2{
    /* margin-bottom: 2rem; */
    font-size: 2.4rem;
}
.realinfo{
    display: flex;
    /* width: 80%; */
    align-items: center;

    justify-content: center;
}
.realinfo img{
    width: 20%;
}
.realinfo p{
    padding-right: 2rem;
    /* padding-left: 2rem; */
}
.infotagtwo{
    margin-left: 23%;
}
.infotwo{
    padding-left: 2rem;

}
.footer{
    margin: 3rem auto 5rem auto;
    /* text-align: center; */
    width: 35%;
    background-color: #73c8a9;
    padding: 2rem;
    
    border-radius: 20px;
}
footer h2 {
     text-align: center;
     font-size: 2.5rem;
     margin-bottom: 1rem;
     color: white;
}
.footer p{
    text-align: center;
    margin-bottom: 3rem;
    color: white;


}

.contactform label{
    display: block;
    margin-bottom: 1rem;
    font-weight: bolder;
    
}
.contactform label input,textarea{
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    height: 3rem;
    padding-left: 10px;
    padding-right: 5px;
    /* border-radius: 16px; */
    font-size: 1.2rem;
    background-color: #73c8a9;
    border: solid 2px white;
    border-radius: 10px;

    
}

fieldset{
    border: none;
}
.formbutton{
   display: block;
    margin: 3rem auto 2rem auto;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    background-color: white;
    border: 2px solid #73c8a9;
    border-radius: 10px;
   
}
.formbutton:hover{
    background-color: rgba(255, 255, 255, 0.378);
}
.copyright{
    background-color: #73c8a9;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.2rem;
}
.copyright a{
    margin-left: 1rem;
    color: black;
}